.opcion label {
	text-align: center;
}

.opcion{
	height: auto;
}

.opcion-selected{
	border: 2px solid blue;
}


.opciones {
	margin-bottom: 30px;
	border: 1px solid;
}

.boton-jugar{
	margin-bottom: 200px;
}